<div>
    <h1>{{question.question}}</h1>
    <div *ngFor="let response of responses">
        <div>
            <b>{{response.firstname || 'anonymous'}}</b>
            <p style="margin-top: 0">{{response.response}}</p>
        </div>
    </div>
    <hr>
    <label for="firstname">Ton pseudo lapin:</label>
    <input type="text" name="firstname" [(ngModel)]="newResponse.firstname">
    <br>
    <label for="newResponse">Ta réponse mec: </label>
    <textarea cols="30" rows="10" name="newResponse" [(ngModel)]="newResponse.response"></textarea>
    <button (click)="addResponse()">Submit</button>
    <div [hidden]="!submitted">
        Putain mec t'as submit !
    </div>
</div>