div
    h1 {{question.question}}
    div(*ngFor='let response of responses')
        div
            b {{response.firstname || 'anonymous'}}
            p(style='margin-top: 0') {{response.response}}
    hr
    label(for='firstname') Ton pseudo lapin:
    input(type='text', name='firstname', [(ngModel)]='newResponse.firstname')
    br
    label(for='newResponse') Ta réponse mec:
    textarea(cols='30', rows='10', name='newResponse', [(ngModel)]='newResponse.response')
    button((click)='addResponse()') Submit
    div([hidden]='!submitted')
        | Putain mec t'as submit !
