div
    h3 here are your links
    div
        a([routerLink]="['/question/' + owner_shortcode + share_shortcode + '/edit']") edit link
    div
        a([routerLink]="['/question/' + share_shortcode]") share link
