input(type="text" class="form-control" name="firstname" [(ngModel)]="question.firstname" placeholder="La loutre")
input(type="text" class="form-control" name="email" [(ngModel)]="question.email" placeholder="La loutre")
textarea(id="" cols="30" rows="10" name="question" [(ngModel)]="question.question" placeholder="Pourquoi je ne peux m'empecher de casser des trucs sur mon ventre ???")
button((click)="save()") Submit
