div
    h3 here are your links
    div
        a([routerlink]="['/question/' + owner_shortcode + share_shortcode + '/admin']") edit link
    div
        a([routerlink]="['/question/' + share_shortcode]") share link
